spring:
  application:
    name: social-media-gateway
  r2dbc:
    url: r2dbc:h2:mem:///testdb
    username: sa
    password: 
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers: "*"
            allow-credentials: true

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

jwt:
  secret: myVerySecretKeyForJWTTokenGeneration123456789
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    com.social.gateway: DEBUG
    org.springframework.cloud.gateway: INFO